
<form #userform="ngForm"  (submit)="userFromSubmit(userform.value)" autocomplete="off">
  <!--{{ userform.value | json}}
  <hr> {{ userModule | json }} -->
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="text" class="form-control" [class.is-invalid]="name.invalid && name.touched"  required #name="ngModel" name="username" [(ngModel)]="userModule.username">
  <small [class.d-none]="name.valid || name.untouched">Name is required</small>
 
  </div>


  <!--{{name.className}} -->

  <div class="form-group">
    <label for="email">Phone No:</label>
    <input type="phone" class="form-control" required pattern="" #phone="ngModel" name="phoneno" [(ngModel)]="userModule.phoneno">
  </div>

  <div class="form-group">
    <label for="email">CPU Type:</label>
    <div ngModelGroup='cpulist' *ngFor="let s of cpuName">
      <input type="checkbox" value="{{s.id}}" [(ngModel)]="s.Checked" [name]="s.id" />{{s.name}}
    </div>
  </div>


  <!--<div class="checkbox checkbox-primary" *ngFor="let s of cpuName;let i=index;">
    <label for="categoryname">
      <input type="checkbox" name="categoryname[{{i}}]" [(ngModel)]="userModule.cpuName" [value]="categoryname"/> {{s.name}}
    </label>
  </div>-->
  <div class="form-group">
    <label for="email">Language:</label>
    <select name="topic" [(ngModel)]="userModule.topic">
      <option *ngFor="let top of topic" [value]="top.id">
        {{top.name}}
      </option>
    </select>
  </div>
  <br>
  <div class="form-group">
    <label for="email">Language:</label>
    <input type="radio" name="gender" value="M" [(ngModel)]="userModule.gender">Male
    <input type="radio" name="gender" value="F" [(ngModel)]="userModule.gender">FeMale
    <input type="radio" name="gender" value="O" [(ngModel)]="userModule.gender">Other
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="termcodition" [(ngModel)]="userModule.termcodition"> Term & conditions</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<app-datatable-example></app-datatable-example>
